In [3]:
import pandas as pd
df = pd.read_csv("data_原始.csv")
df.iloc[:, 5:]

,open,high,low,volume,turnover,dealnum,turn,pct_chg,vwap,adjfactor,upprice,downprice,trade_status,free_float_shares,total_shares,update_dt,update_time,realtime_open
0,3536.5885,3538.6894,3295.7409,1.844184e+10,2.409292e+11,NaN,0.00,-6.8638,13.064267,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:04,2020-10-23 15:58:49,3536.5885
1,3196.6510,3328.1385,3189.6048,2.668821e+10,3.284172e+11,NaN,0.00,-0.2593,12.305705,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3196.6510
2,3291.1947,3362.9739,3288.9330,2.388867e+10,2.852432e+11,NaN,0.00,2.2548,11.940525,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:06,2020-10-23 15:58:49,3291.1947
3,3309.6570,3309.6570,3115.8853,7.056912e+09,7.998199e+10,NaN,0.00,-7.0449,11.333850,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:03,2020-10-23 15:58:49,3309.6570
4,3194.6254,3235.4510,3056.8776,2.864408e+10,3.241671e+11,NaN,0.00,1.9651,11.317072,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3194.6254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,67.8600,67.8600,63.0000,2.008700e+06,1.309806e+08,4669.0,3.32,-1.3200,65.206660,1.0,81.70,54.46,0,60551890.0,704091664.0,2021-07-26 15:51:22,2021-07-26 15:51:21,NaN
4834391,66.0000,70.9700,65.1600,1.835700e+06,1.245621e+08,4746.0,3.03,-0.0400,67.855344,1.0,80.62,53.74,0,60551890.0,704091664.0,2021-07-27 15:52:51,2021-07-27 15:52:51,NaN
4834392,66.0100,67.5900,63.0100,1.741400e+06,1.142330e+08,4645.0,2.88,0.4800,65.598397,1.0,80.58,53.72,0,60551890.0,704091664.0,2021-07-28 15:51:55,2021-07-28 15:51:54,66.0100
4834393,67.8000,70.5500,67.1300,1.619800e+06,1.121369e+08,4746.0,2.68,0.8400,69.228825,1.0,80.96,53.98,0,60551890.0,704091664.0,2021-07-29 15:52:01,2021-07-29 15:52:01,67.8000
4834394,67.5200,68.8400,65.5000,1.438500e+06,9.605356e+07,3379.0,2.38,0.5300,66.773413,1.0,81.65,54.43,0,60551890.0,704091664.0,2021-07-30 15:53:59,2021-07-30 15:53:58,67.5200

In [4]:
df

,index_label,kdcode,dt,prev_close,close,open,high,low,volume,turnover,...,vwap,adjfactor,upprice,downprice,trade_status,free_float_shares,total_shares,update_dt,update_time,realtime_open
0,0,000001.SH,2016-01-04,3539.1819,3296.2582,3536.5885,3538.6894,3295.7409,1.844184e+10,2.409292e+11,...,13.064267,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:04,2020-10-23 15:58:49,3536.5885
1,1,000001.SH,2016-01-05,3296.2582,3287.7105,3196.6510,3328.1385,3189.6048,2.668821e+10,3.284172e+11,...,12.305705,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3196.6510
2,2,000001.SH,2016-01-06,3287.7105,3361.8404,3291.1947,3362.9739,3288.9330,2.388867e+10,2.852432e+11,...,11.940525,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:06,2020-10-23 15:58:49,3291.1947
3,3,000001.SH,2016-01-07,3361.8404,3125.0015,3309.6570,3309.6570,3115.8853,7.056912e+09,7.998199e+10,...,11.333850,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:03,2020-10-23 15:58:49,3309.6570
4,4,000001.SH,2016-01-08,3125.0015,3186.4120,3194.6254,3235.4510,3056.8776,2.864408e+10,3.241671e+11,...,11.317072,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3194.6254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,4834390,689009.SH,2021-07-26,68.0800,67.1800,67.8600,67.8600,63.0000,2.008700e+06,1.309806e+08,...,65.206660,1.0,81.70,54.46,0,60551890.0,704091664.0,2021-07-26 15:51:22,2021-07-26 15:51:21,NaN
4834391,4834391,689009.SH,2021-07-27,67.1800,67.1500,66.0000,70.9700,65.1600,1.835700e+06,1.245621e+08,...,67.855344,1.0,80.62,53.74,0,60551890.0,704091664.0,2021-07-27 15:52:51,2021-07-27 15:52:51,NaN
4834392,4834392,689009.SH,2021-07-28,67.1500,67.4700,66.0100,67.5900,63.0100,1.741400e+06,1.142330e+08,...,65.598397,1.0,80.58,53.72,0,60551890.0,704091664.0,2021-07-28 15:51:55,2021-07-28 15:51:54,66.0100
4834393,4834393,689009.SH,2021-07-29,67.4700,68.0400,67.8000,70.5500,67.1300,1.619800e+06,1.121369e+08,...,69.228825,1.0,80.96,53.98,0,60551890.0,704091664.0,2021-07-29 15:52:01,2021-07-29 15:52:01,67.8000
4834394,4834394,689009.SH,2021-07-30,68.0400,68.4000,67.5200,68.8400,65.5000,1.438500e+06,9.605356e+07,...,66.773413,1.0,81.65,54.43,0,60551890.0,704091664.0,2021-07-30 15:53:59,2021-07-30 15:53:58,67.5200

In [5]:
len(df.columns)

23

In [6]:
df2 = pd.read_csv("data_复权.csv")
df2

,index_label,kdcode,dt,prev_close,close,open,high,low,volume,turnover,...,total_shares,update_dt,update_time,realtime_open,adj_close,adj_open,adj_high,adj_low,adj_upprice,adj_downprice
0,0,000001.SH,2016-01-04,3539.1819,3296.2582,3536.5885,3538.6894,3295.7409,1.844184e+10,2.409292e+11,...,NaN,2019-05-24 09:12:04,2020-10-23 15:58:49,3536.5885,3296.2582,3536.5885,3538.6894,3295.7409,NaN,NaN
1,1,000001.SH,2016-01-05,3296.2582,3287.7105,3196.6510,3328.1385,3189.6048,2.668821e+10,3.284172e+11,...,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3196.6510,3287.7105,3196.6510,3328.1385,3189.6048,NaN,NaN
2,2,000001.SH,2016-01-06,3287.7105,3361.8404,3291.1947,3362.9739,3288.9330,2.388867e+10,2.852432e+11,...,NaN,2019-05-24 09:12:06,2020-10-23 15:58:49,3291.1947,3361.8404,3291.1947,3362.9739,3288.9330,NaN,NaN
3,3,000001.SH,2016-01-07,3361.8404,3125.0015,3309.6570,3309.6570,3115.8853,7.056912e+09,7.998199e+10,...,NaN,2019-05-24 09:12:03,2020-10-23 15:58:49,3309.6570,3125.0015,3309.6570,3309.6570,3115.8853,NaN,NaN
4,4,000001.SH,2016-01-08,3125.0015,3186.4120,3194.6254,3235.4510,3056.8776,2.864408e+10,3.241671e+11,...,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3194.6254,3186.4120,3194.6254,3235.4510,3056.8776,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,4834390,689009.SH,2021-07-26,68.0800,67.1800,67.8600,67.8600,63.0000,2.008700e+06,1.309806e+08,...,704091664.0,2021-07-26 15:51:22,2021-07-26 15:51:21,NaN,67.1800,67.8600,67.8600,63.0000,81.70,54.46
4834391,4834391,689009.SH,2021-07-27,67.1800,67.1500,66.0000,70.9700,65.1600,1.835700e+06,1.245621e+08,...,704091664.0,2021-07-27 15:52:51,2021-07-27 15:52:51,NaN,67.1500,66.0000,70.9700,65.1600,80.62,53.74
4834392,4834392,689009.SH,2021-07-28,67.1500,67.4700,66.0100,67.5900,63.0100,1.741400e+06,1.142330e+08,...,704091664.0,2021-07-28 15:51:55,2021-07-28 15:51:54,66.0100,67.4700,66.0100,67.5900,63.0100,80.58,53.72
4834393,4834393,689009.SH,2021-07-29,67.4700,68.0400,67.8000,70.5500,67.1300,1.619800e+06,1.121369e+08,...,704091664.0,2021-07-29 15:52:01,2021-07-29 15:52:01,67.8000,68.0400,67.8000,70.5500,67.1300,80.96,53.98
4834394,4834394,689009.SH,2021-07-30,68.0400,68.4000,67.5200,68.8400,65.5000,1.438500e+06,9.605356e+07,...,704091664.0,2021-07-30 15:53:59,2021-07-30 15:53:58,67.5200,68.4000,67.5200,68.8400,65.5000,81.65,54.43

In [8]:
df2.iloc[:,11:]

,turn,pct_chg,vwap,adjfactor,upprice,downprice,trade_status,free_float_shares,total_shares,update_dt,update_time,realtime_open,adj_close,adj_open,adj_high,adj_low,adj_upprice,adj_downprice
0,0.00,-6.8638,13.064267,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:04,2020-10-23 15:58:49,3536.5885,3296.2582,3536.5885,3538.6894,3295.7409,NaN,NaN
1,0.00,-0.2593,12.305705,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3196.6510,3287.7105,3196.6510,3328.1385,3189.6048,NaN,NaN
2,0.00,2.2548,11.940525,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:06,2020-10-23 15:58:49,3291.1947,3361.8404,3291.1947,3362.9739,3288.9330,NaN,NaN
3,0.00,-7.0449,11.333850,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:03,2020-10-23 15:58:49,3309.6570,3125.0015,3309.6570,3309.6570,3115.8853,NaN,NaN
4,0.00,1.9651,11.317072,1.0,NaN,NaN,0,NaN,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3194.6254,3186.4120,3194.6254,3235.4510,3056.8776,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,3.32,-1.3200,65.206660,1.0,81.70,54.46,0,60551890.0,704091664.0,2021-07-26 15:51:22,2021-07-26 15:51:21,NaN,67.1800,67.8600,67.8600,63.0000,81.70,54.46
4834391,3.03,-0.0400,67.855344,1.0,80.62,53.74,0,60551890.0,704091664.0,2021-07-27 15:52:51,2021-07-27 15:52:51,NaN,67.1500,66.0000,70.9700,65.1600,80.62,53.74
4834392,2.88,0.4800,65.598397,1.0,80.58,53.72,0,60551890.0,704091664.0,2021-07-28 15:51:55,2021-07-28 15:51:54,66.0100,67.4700,66.0100,67.5900,63.0100,80.58,53.72
4834393,2.68,0.8400,69.228825,1.0,80.96,53.98,0,60551890.0,704091664.0,2021-07-29 15:52:01,2021-07-29 15:52:01,67.8000,68.0400,67.8000,70.5500,67.1300,80.96,53.98
4834394,2.38,0.5300,66.773413,1.0,81.65,54.43,0,60551890.0,704091664.0,2021-07-30 15:53:59,2021-07-30 15:53:58,67.5200,68.4000,67.5200,68.8400,65.5000,81.65,54.43