# 数据筛选与清洗

1. 去除"指数"数据
2. 筛取当前在市的股票
3. 删除含有NaN的行
4. 删除`volume==0`的数据
5. 保存数据

In [1]:
import pandas as pd
from tqdm import tqdm
# 读取数据
df = pd.read_csv("data_复权.csv")
df

/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
Duplicate key in file PosixPath('/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/matplotlib/mpl-data/matplotlibrc'), line 400 ('axes.unicode_minus: True  # use Unicode for the minus symbol rather than hyphen.  See')
/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,index_label,kdcode,dt,prev_close,close,open,high,low,volume,turnover,...,total_shares,update_dt,update_time,realtime_open,adj_close,adj_open,adj_high,adj_low,adj_upprice,adj_downprice
0,0,000001.SH,2016-01-04,3539.1819,3296.2582,3536.5885,3538.6894,3295.7409,1.844184e+10,2.409292e+11,...,NaN,2019-05-24 09:12:04,2020-10-23 15:58:49,3536.5885,3296.2582,3536.5885,3538.6894,3295.7409,NaN,NaN
1,1,000001.SH,2016-01-05,3296.2582,3287.7105,3196.6510,3328.1385,3189.6048,2.668821e+10,3.284172e+11,...,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3196.6510,3287.7105,3196.6510,3328.1385,3189.6048,NaN,NaN
2,2,000001.SH,2016-01-06,3287.7105,3361.8404,3291.1947,3362.9739,3288.9330,2.388867e+10,2.852432e+11,...,NaN,2019-05-24 09:12:06,2020-10-23 15:58:49,3291.1947,3361.8404,3291.1947,3362.9739,3288.9330,NaN,NaN
3,3,000001.SH,2016-01-07,3361.8404,3125.0015,3309.6570,3309.6570,3115.8853,7.056912e+09,7.998199e+10,...,NaN,2019-05-24 09:12:03,2020-10-23 15:58:49,3309.6570,3125.0015,3309.6570,3309.6570,3115.8853,NaN,NaN
4,4,000001.SH,2016-01-08,3125.0015,3186.4120,3194.6254,3235.4510,3056.8776,2.864408e+10,3.241671e+11,...,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3194.6254,3186.4120,3194.6254,3235.4510,3056.8776,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,4834390,689009.SH,2021-07-26,68.0800,67.1800,67.8600,67.8600,63.0000,2.008700e+06,1.309806e+08,...,704091664.0,2021-07-26 15:51:22,2021-07-26 15:51:21,NaN,67.1800,67.8600,67.8600,63.0000,81.70,54.46
4834391,4834391,689009.SH,2021-07-27,67.1800,67.1500,66.0000,70.9700,65.1600,1.835700e+06,1.245621e+08,...,704091664.0,2021-07-27 15:52:51,2021-07-27 15:52:51,NaN,67.1500,66.0000,70.9700,65.1600,80.62,53.74
4834392,4834392,689009.SH,2021-07-28,67.1500,67.4700,66.0100,67.5900,63.0100,1.741400e+06,1.142330e+08,...,704091664.0,2021-07-28 15:51:55,2021-07-28 15:51:54,66.0100,67.4700,66.0100,67.5900,63.0100,80.58,53.72
4834393,4834393,689009.SH,2021-07-29,67.4700,68.0400,67.8000,70.5500,67.1300,1.619800e+06,1.121369e+08,...,704091664.0,2021-07-29 15:52:01,2021-07-29 15:52:01,67.8000,68.0400,67.8000,70.5500,67.1300,80.96,53.98
4834394,4834394,689009.SH,2021-07-30,68.0400,68.4000,67.5200,68.8400,65.5000,1.438500e+06,9.605356e+07,...,704091664.0,2021-07-30 15:53:59,2021-07-30 15:53:58,67.5200,68.4000,67.5200,68.8400,65.5000,81.65,54.43

In [2]:
stocks_code = df['kdcode'].unique()
stocks_num = len(stocks_code)
# for code_i in stocks_code:
#     print(code_i)

"股票数量",stocks_num

('股票数量', 5135)

 ## 1. 去除"指数"数据

In [3]:
# 提取300000.SZ之前的数据
df_head = df[df['kdcode'] < '600000.SH']
# 保存300000.SZ之后的数据
df_tail = df[df['kdcode'] >= '600000.SH']
# 处理掉df_head中股票代码含有.SH的数据
df_head = df_head[df_head['kdcode'].str.contains('.SZ')]
df_tail = df_tail[df_tail['kdcode'].str.contains('.SH')]
# 连接
stockDf = pd.concat([df_head, df_tail], axis = 0)

In [4]:
stocks_code = stockDf['kdcode'].unique()
stocks_num = len(stocks_code)
"股票数量",stocks_num

('股票数量', 4832)

In [5]:
# 筛选需要的列
cols = ['kdcode','dt','volume','turnover','turn','pct_chg','vwap','trade_status','adj_close','adj_open','adj_high','adj_low']
df = stockDf[cols]
df

,kdcode,dt,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
1358,000001.SZ,2016-01-04,56349787.0,6.603762e+08,0.4774,-5.51,11.719231,0,935.197763,990.500720,992.976972,926.943591
1359,000001.SZ,2016-01-05,66326995.0,7.555314e+08,0.5619,0.61,11.391008,0,940.975684,930.245260,955.007778,920.340253
1360,000001.SZ,2016-01-06,51570644.0,5.916985e+08,0.4369,1.14,11.473553,0,951.706109,942.626519,954.182361,940.150267
1361,000001.SZ,2016-01-07,17476110.0,1.948695e+08,0.1481,-5.12,11.150622,0,903.006490,941.801102,941.801102,900.530238
1362,000001.SZ,2016-01-08,74752758.0,8.313345e+08,0.6333,1.64,11.121122,0,917.864001,925.292756,931.896094,899.704821
...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,689009.SH,2021-07-26,2008700.0,1.309806e+08,3.3200,-1.32,65.206660,0,67.180000,67.860000,67.860000,63.000000
4834391,689009.SH,2021-07-27,1835700.0,1.245621e+08,3.0300,-0.04,67.855344,0,67.150000,66.000000,70.970000,65.160000
4834392,689009.SH,2021-07-28,1741400.0,1.142330e+08,2.8800,0.48,65.598397,0,67.470000,66.010000,67.590000,63.010000
4834393,689009.SH,2021-07-29,1619800.0,1.121369e+08,2.6800,0.84,69.228825,0,68.040000,67.800000,70.550000,67.130000
4834394,689009.SH,2021-07-30,1438500.0,9.605356e+07,2.3800,0.53,66.773413,0,68.400000,67.520000,68.840000,65.500000

## 2. 筛取当前在市的股票

按照[当前股市](http://data.eastmoney.com/zjlx/list.html)中含有的股票筛出数据

In [6]:
# 爬取http://data.eastmoney.com/zjlx/list.html中所有股票的股票代码
from urllib.parse import quote
import requests

url = 'http://push2.eastmoney.com/api/qt/clist/get?cb=jQuery1123038200043529008054_1627897140633&fid=f184&po=1&pz=4541&pn=1&np=1&fltt=2&invt=2&fields=f12&ut=b2884a393a59ad64002292a3e90d46a5&fs=m%3A0%2Bt%3A6%2Bf%3A%212%2Cm%3A0%2Bt%3A13%2Bf%3A%212%2Cm%3A0%2Bt%3A80%2Bf%3A%212%2Cm%3A1%2Bt%3A2%2Bf%3A%212%2Cm%3A1%2Bt%3A23%2Bf%3A%212%2Cm%3A0%2Bt%3A7%2Bf%3A%212%2Cm%3A1%2Bt%3A3%2Bf%3A%212'
data = requests.get(url)
res=data.text
res = res[118:-4]
List = eval(res)
codes = []

for i in range(len(List)):
    codes.append(List[i].get('f12'))

len(codes)

4541

In [7]:
#从所有数据中筛选codes中的股票
clean_df = pd.DataFrame(columns=df.columns)
for i, code_i in enumerate(tqdm(codes)):
    da = df[(df['kdcode']==code_i+".SZ") | (df['kdcode']==code_i+".SH")]
    clean_df = pd.concat([da, clean_df])

100%|██████████| 4541/4541 [1:38:57<00:00,  1.31s/it]

In [8]:
clean_df

,kdcode,dt,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
3689255,600723.SH,2016-01-04,7303740.0,78105120.0,1.1099,-9.4600,10.693853,0,28.519365,31.637785,31.807881,28.434318
3689256,600723.SH,2016-01-05,9284093.0,92352557.0,1.4108,0.6900,9.947397,0,28.717810,27.215299,28.916255,27.215299
3689257,600723.SH,2016-01-06,6717194.0,68058693.0,1.0207,0.8800,10.132012,0,28.972954,28.746160,29.001303,28.207523
3689258,600723.SH,2016-01-07,1998348.0,19299697.0,0.3037,-9.1000,9.657826,0,26.336472,28.349270,28.491016,26.081328
3689259,600723.SH,2016-01-08,8194301.0,76631625.0,1.2452,0.3200,9.351820,0,26.421519,27.158600,27.215299,25.174152
...,...,...,...,...,...,...,...,...,...,...,...,...
3208681,600291.SH,2021-07-26,25252676.0,80219858.0,2.3103,-4.5593,3.176687,0,10.165444,10.651054,10.748176,10.133070
3208682,600291.SH,2021-07-27,26084010.0,79190892.0,2.3863,-5.0955,3.035994,0,9.647459,10.197818,10.294940,9.647459
3208683,600291.SH,2021-07-28,23150900.0,66219267.0,2.1180,-5.0336,2.860332,0,9.161849,9.485589,9.615085,9.161849
3208684,600291.SH,2021-07-29,25032413.0,73768277.0,2.2901,4.9470,2.946910,0,9.615085,9.226597,9.615085,9.161849
3208685,600291.SH,2021-07-30,NaN,NaN,NaN,NaN,NaN,0,NaN,9.517963,NaN,NaN

In [9]:
clean_df.set_index(['dt'], inplace = True)
clean_df.index = pd.to_datetime(clean_df.index)
# tmpdf = clean_df.copy()

In [10]:
clean_df

,kdcode,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
dt,,,,,,,,,,,
2016-01-04,600723.SH,7303740.0,78105120.0,1.1099,-9.4600,10.693853,0,28.519365,31.637785,31.807881,28.434318
2016-01-05,600723.SH,9284093.0,92352557.0,1.4108,0.6900,9.947397,0,28.717810,27.215299,28.916255,27.215299
2016-01-06,600723.SH,6717194.0,68058693.0,1.0207,0.8800,10.132012,0,28.972954,28.746160,29.001303,28.207523
2016-01-07,600723.SH,1998348.0,19299697.0,0.3037,-9.1000,9.657826,0,26.336472,28.349270,28.491016,26.081328
2016-01-08,600723.SH,8194301.0,76631625.0,1.2452,0.3200,9.351820,0,26.421519,27.158600,27.215299,25.174152
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,600291.SH,25252676.0,80219858.0,2.3103,-4.5593,3.176687,0,10.165444,10.651054,10.748176,10.133070
2021-07-27,600291.SH,26084010.0,79190892.0,2.3863,-5.0955,3.035994,0,9.647459,10.197818,10.294940,9.647459
2021-07-28,600291.SH,23150900.0,66219267.0,2.1180,-5.0336,2.860332,0,9.161849,9.485589,9.615085,9.161849
2021-07-29,600291.SH,25032413.0,73768277.0,2.2901,4.9470,2.946910,0,9.615085,9.226597,9.615085,9.161849
2021-07-30,600291.SH,NaN,NaN,NaN,NaN,NaN,0,NaN,9.517963,NaN,NaN

In [11]:
stocks_code = clean_df['kdcode'].unique()
stocks_num = len(stocks_code)
"股票数量",stocks_num

('股票数量', 4411)

## 3. 删除含有NaN的行

In [12]:
clean_df = clean_df.dropna(axis=0)

In [13]:
stocks_code = clean_df['kdcode'].unique()
stocks_num = len(stocks_code)
"股票数量",stocks_num

('股票数量', 4411)

In [14]:
# 按照kdcode,dt排序
clean_df.sort_values(by=['kdcode', 'dt'],axis=0,ascending=True,inplace=True)
clean_df

/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,kdcode,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
dt,,,,,,,,,,,
2016-01-04,000001.SZ,56349787.0,6.603762e+08,0.4774,-5.51,11.719231,0,935.197763,990.500720,992.976972,926.943591
2016-01-05,000001.SZ,66326995.0,7.555314e+08,0.5619,0.61,11.391008,0,940.975684,930.245260,955.007778,920.340253
2016-01-06,000001.SZ,51570644.0,5.916985e+08,0.4369,1.14,11.473553,0,951.706109,942.626519,954.182361,940.150267
2016-01-07,000001.SZ,17476110.0,1.948695e+08,0.1481,-5.12,11.150622,0,903.006490,941.801102,941.801102,900.530238
2016-01-08,000001.SZ,74752758.0,8.313345e+08,0.6333,1.64,11.121122,0,917.864001,925.292756,931.896094,899.704821
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,689009.SH,2008700.0,1.309806e+08,3.3200,-1.32,65.206660,0,67.180000,67.860000,67.860000,63.000000
2021-07-27,689009.SH,1835700.0,1.245621e+08,3.0300,-0.04,67.855344,0,67.150000,66.000000,70.970000,65.160000
2021-07-28,689009.SH,1741400.0,1.142330e+08,2.8800,0.48,65.598397,0,67.470000,66.010000,67.590000,63.010000
2021-07-29,689009.SH,1619800.0,1.121369e+08,2.6800,0.84,69.228825,0,68.040000,67.800000,70.550000,67.130000
2021-07-30,689009.SH,1438500.0,9.605356e+07,2.3800,0.53,66.773413,0,68.400000,67.520000,68.840000,65.500000

## 4. 删除`volume==0`的数据

In [15]:
clean_df = clean_df[clean_df['volume'] != 0]
clean_df

,kdcode,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
dt,,,,,,,,,,,
2016-01-04,000001.SZ,56349787.0,6.603762e+08,0.4774,-5.51,11.719231,0,935.197763,990.500720,992.976972,926.943591
2016-01-05,000001.SZ,66326995.0,7.555314e+08,0.5619,0.61,11.391008,0,940.975684,930.245260,955.007778,920.340253
2016-01-06,000001.SZ,51570644.0,5.916985e+08,0.4369,1.14,11.473553,0,951.706109,942.626519,954.182361,940.150267
2016-01-07,000001.SZ,17476110.0,1.948695e+08,0.1481,-5.12,11.150622,0,903.006490,941.801102,941.801102,900.530238
2016-01-08,000001.SZ,74752758.0,8.313345e+08,0.6333,1.64,11.121122,0,917.864001,925.292756,931.896094,899.704821
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,689009.SH,2008700.0,1.309806e+08,3.3200,-1.32,65.206660,0,67.180000,67.860000,67.860000,63.000000
2021-07-27,689009.SH,1835700.0,1.245621e+08,3.0300,-0.04,67.855344,0,67.150000,66.000000,70.970000,65.160000
2021-07-28,689009.SH,1741400.0,1.142330e+08,2.8800,0.48,65.598397,0,67.470000,66.010000,67.590000,63.010000
2021-07-29,689009.SH,1619800.0,1.121369e+08,2.6800,0.84,69.228825,0,68.040000,67.800000,70.550000,67.130000
2021-07-30,689009.SH,1438500.0,9.605356e+07,2.3800,0.53,66.773413,0,68.400000,67.520000,68.840000,65.500000

## 5. 保存数据

In [16]:
clean_df.to_csv('data.csv')