# 数据筛选与清洗

In [1]:
import pandas as pd
from tqdm import tqdm
# 读取数据
df = pd.read_csv("data_复权.csv")
df

/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,index_label,kdcode,dt,prev_close,close,open,high,low,volume,turnover,...,total_shares,update_dt,update_time,realtime_open,adj_close,adj_open,adj_high,adj_low,adj_upprice,adj_downprice
0,0,000001.SH,2016-01-04,3539.1819,3296.2582,3536.5885,3538.6894,3295.7409,1.844184e+10,2.409292e+11,...,NaN,2019-05-24 09:12:04,2020-10-23 15:58:49,3536.5885,3296.2582,3536.5885,3538.6894,3295.7409,NaN,NaN
1,1,000001.SH,2016-01-05,3296.2582,3287.7105,3196.6510,3328.1385,3189.6048,2.668821e+10,3.284172e+11,...,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3196.6510,3287.7105,3196.6510,3328.1385,3189.6048,NaN,NaN
2,2,000001.SH,2016-01-06,3287.7105,3361.8404,3291.1947,3362.9739,3288.9330,2.388867e+10,2.852432e+11,...,NaN,2019-05-24 09:12:06,2020-10-23 15:58:49,3291.1947,3361.8404,3291.1947,3362.9739,3288.9330,NaN,NaN
3,3,000001.SH,2016-01-07,3361.8404,3125.0015,3309.6570,3309.6570,3115.8853,7.056912e+09,7.998199e+10,...,NaN,2019-05-24 09:12:03,2020-10-23 15:58:49,3309.6570,3125.0015,3309.6570,3309.6570,3115.8853,NaN,NaN
4,4,000001.SH,2016-01-08,3125.0015,3186.4120,3194.6254,3235.4510,3056.8776,2.864408e+10,3.241671e+11,...,NaN,2019-05-24 09:12:00,2020-10-23 15:58:49,3194.6254,3186.4120,3194.6254,3235.4510,3056.8776,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,4834390,689009.SH,2021-07-26,68.0800,67.1800,67.8600,67.8600,63.0000,2.008700e+06,1.309806e+08,...,704091664.0,2021-07-26 15:51:22,2021-07-26 15:51:21,NaN,67.1800,67.8600,67.8600,63.0000,81.70,54.46
4834391,4834391,689009.SH,2021-07-27,67.1800,67.1500,66.0000,70.9700,65.1600,1.835700e+06,1.245621e+08,...,704091664.0,2021-07-27 15:52:51,2021-07-27 15:52:51,NaN,67.1500,66.0000,70.9700,65.1600,80.62,53.74
4834392,4834392,689009.SH,2021-07-28,67.1500,67.4700,66.0100,67.5900,63.0100,1.741400e+06,1.142330e+08,...,704091664.0,2021-07-28 15:51:55,2021-07-28 15:51:54,66.0100,67.4700,66.0100,67.5900,63.0100,80.58,53.72
4834393,4834393,689009.SH,2021-07-29,67.4700,68.0400,67.8000,70.5500,67.1300,1.619800e+06,1.121369e+08,...,704091664.0,2021-07-29 15:52:01,2021-07-29 15:52:01,67.8000,68.0400,67.8000,70.5500,67.1300,80.96,53.98
4834394,4834394,689009.SH,2021-07-30,68.0400,68.4000,67.5200,68.8400,65.5000,1.438500e+06,9.605356e+07,...,704091664.0,2021-07-30 15:53:59,2021-07-30 15:53:58,67.5200,68.4000,67.5200,68.8400,65.5000,81.65,54.43

In [2]:
stocks_code = df['kdcode'].unique()
stocks_num = len(stocks_code)
# for code_i in stocks_code:
#     print(code_i)

"股票数量",stocks_num

('股票数量', 5135)

 ## 1. 去除"指数"数据

In [3]:
# 提取300000.SZ之前的数据
df_head = df[df['kdcode'] < '300001.SZ']
# 保存300000.SZ之后的数据
df_tail = df[df['kdcode'] >= '300001.SZ']
# 处理掉df_head中股票代码含有.SH的数据
df_head = df_head[df_head['kdcode'].str.contains('.SZ')]
# 连接
stockDf = pd.concat([df_head, df_tail], axis = 0)

In [4]:
stocks_code = stockDf['kdcode'].unique()
stocks_num = len(stocks_code)
"股票数量",stocks_num

('股票数量', 4842)

In [5]:
# 筛选需要的列
cols = ['kdcode','dt','volume','turnover','turn','pct_chg','vwap','trade_status','adj_close','adj_open','adj_high','adj_low']
df = stockDf[cols]
df

,kdcode,dt,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
1358,000001.SZ,2016-01-04,56349787.0,6.603762e+08,0.4774,-5.51,11.719231,0,935.197763,990.500720,992.976972,926.943591
1359,000001.SZ,2016-01-05,66326995.0,7.555314e+08,0.5619,0.61,11.391008,0,940.975684,930.245260,955.007778,920.340253
1360,000001.SZ,2016-01-06,51570644.0,5.916985e+08,0.4369,1.14,11.473553,0,951.706109,942.626519,954.182361,940.150267
1361,000001.SZ,2016-01-07,17476110.0,1.948695e+08,0.1481,-5.12,11.150622,0,903.006490,941.801102,941.801102,900.530238
1362,000001.SZ,2016-01-08,74752758.0,8.313345e+08,0.6333,1.64,11.121122,0,917.864001,925.292756,931.896094,899.704821
...,...,...,...,...,...,...,...,...,...,...,...,...
4834390,689009.SH,2021-07-26,2008700.0,1.309806e+08,3.3200,-1.32,65.206660,0,67.180000,67.860000,67.860000,63.000000
4834391,689009.SH,2021-07-27,1835700.0,1.245621e+08,3.0300,-0.04,67.855344,0,67.150000,66.000000,70.970000,65.160000
4834392,689009.SH,2021-07-28,1741400.0,1.142330e+08,2.8800,0.48,65.598397,0,67.470000,66.010000,67.590000,63.010000
4834393,689009.SH,2021-07-29,1619800.0,1.121369e+08,2.6800,0.84,69.228825,0,68.040000,67.800000,70.550000,67.130000
4834394,689009.SH,2021-07-30,1438500.0,9.605356e+07,2.3800,0.53,66.773413,0,68.400000,67.520000,68.840000,65.500000

## 2. 数据清洗

按照[当前股市](http://data.eastmoney.com/zjlx/list.html)中含有的股票筛出数据

In [6]:
# 爬取http://data.eastmoney.com/zjlx/list.html中所有股票的股票代码
from urllib.parse import quote
import requests

url = 'http://push2.eastmoney.com/api/qt/clist/get?cb=jQuery1123038200043529008054_1627897140633&fid=f184&po=1&pz=4541&pn=1&np=1&fltt=2&invt=2&fields=f12&ut=b2884a393a59ad64002292a3e90d46a5&fs=m%3A0%2Bt%3A6%2Bf%3A%212%2Cm%3A0%2Bt%3A13%2Bf%3A%212%2Cm%3A0%2Bt%3A80%2Bf%3A%212%2Cm%3A1%2Bt%3A2%2Bf%3A%212%2Cm%3A1%2Bt%3A23%2Bf%3A%212%2Cm%3A0%2Bt%3A7%2Bf%3A%212%2Cm%3A1%2Bt%3A3%2Bf%3A%212'
data = requests.get(url)
res=data.text
res = res[118:-4]
List = eval(res)
codes = []

for i in range(len(List)):
    codes.append(List[i].get('f12'))

len(codes)

4541

In [7]:
#从所有数据中筛选codes中的股票
clean_df = pd.DataFrame(columns=df.columns)
for i, code_i in enumerate(tqdm(codes)):
    da = df[df['kdcode']==code_i+".SZ"]
    if da.empty:
        da = df[df['kdcode']==code_i+".SH"]
    if len(da) > 200:
        clean_df = pd.concat([da, clean_df])

100%|██████████| 4541/4541 [1:20:03<00:00,  1.06s/it]

In [8]:
clean_df

,kdcode,dt,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
313973,000670.SZ,2016-01-04,27768236.0,411101657.0,4.9499,-10.0252,14.804745,0,149.643782,167.785600,169.148858,149.643782
313974,000670.SZ,2016-01-05,49282553.0,646242818.0,8.7850,-9.9509,13.113014,0,134.752810,136.325800,143.142090,134.647944
313975,000670.SZ,2016-01-06,31730274.0,410486843.0,5.6561,2.0233,12.936757,0,137.479326,136.116068,139.996110,131.711696
313976,000670.SZ,2016-01-07,8394825.0,102446017.0,1.4964,-9.9924,12.203473,0,123.741880,135.696604,136.011202,123.741880
313977,000670.SZ,2016-01-08,42461231.0,495257159.0,7.5690,-3.5593,11.663749,0,119.337508,124.790540,128.880314,111.682290
...,...,...,...,...,...,...,...,...,...,...,...,...
259739,000609.SZ,2021-07-26,3580340.0,11361370.0,1.2261,-3.6923,3.173266,0,19.019248,19.748420,19.809184,18.836954
259740,000609.SZ,2021-07-27,3929570.0,12223231.0,1.3457,-2.8754,3.110577,0,18.472368,19.019248,19.444598,18.350839
259741,000609.SZ,2021-07-28,3516413.0,10347931.0,1.2042,-4.2763,2.942752,0,17.682431,18.411604,18.593897,17.560903
259742,000609.SZ,2021-07-29,2985713.0,8853757.0,1.0225,2.4055,2.965374,0,18.107782,17.925489,18.350839,17.682431
259743,000609.SZ,2021-07-30,NaN,NaN,NaN,NaN,NaN,0,NaN,17.925489,NaN,NaN

In [9]:
clean_df.set_index(['dt'], inplace = True)
clean_df.index = pd.to_datetime(clean_df.index)
# tmpdf = clean_df.copy()

In [10]:
clean_df

,kdcode,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
dt,,,,,,,,,,,
2016-01-04,000670.SZ,27768236.0,411101657.0,4.9499,-10.0252,14.804745,0,149.643782,167.785600,169.148858,149.643782
2016-01-05,000670.SZ,49282553.0,646242818.0,8.7850,-9.9509,13.113014,0,134.752810,136.325800,143.142090,134.647944
2016-01-06,000670.SZ,31730274.0,410486843.0,5.6561,2.0233,12.936757,0,137.479326,136.116068,139.996110,131.711696
2016-01-07,000670.SZ,8394825.0,102446017.0,1.4964,-9.9924,12.203473,0,123.741880,135.696604,136.011202,123.741880
2016-01-08,000670.SZ,42461231.0,495257159.0,7.5690,-3.5593,11.663749,0,119.337508,124.790540,128.880314,111.682290
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,000609.SZ,3580340.0,11361370.0,1.2261,-3.6923,3.173266,0,19.019248,19.748420,19.809184,18.836954
2021-07-27,000609.SZ,3929570.0,12223231.0,1.3457,-2.8754,3.110577,0,18.472368,19.019248,19.444598,18.350839
2021-07-28,000609.SZ,3516413.0,10347931.0,1.2042,-4.2763,2.942752,0,17.682431,18.411604,18.593897,17.560903
2021-07-29,000609.SZ,2985713.0,8853757.0,1.0225,2.4055,2.965374,0,18.107782,17.925489,18.350839,17.682431
2021-07-30,000609.SZ,NaN,NaN,NaN,NaN,NaN,0,NaN,17.925489,NaN,NaN

In [11]:
stocks_code = clean_df['kdcode'].unique()
stocks_num = len(stocks_code)
"股票数量",stocks_num

('股票数量', 4022)

## 3. 删除含有NaN的行

In [12]:
clean_df = clean_df.dropna(axis=0)

In [13]:
stocks_code = clean_df['kdcode'].unique()
stocks_num = len(stocks_code)
"股票数量",stocks_num

('股票数量', 4022)

In [14]:
# 按照kdcode,dt排序
clean_df.sort_values(by=['kdcode', 'dt'],axis=0,ascending=True,inplace=True)
clean_df

/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,kdcode,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low
dt,,,,,,,,,,,
2016-01-04,000001.SZ,56349787.0,6.603762e+08,0.4774,-5.51,11.719231,0,935.197763,990.500720,992.976972,926.943591
2016-01-05,000001.SZ,66326995.0,7.555314e+08,0.5619,0.61,11.391008,0,940.975684,930.245260,955.007778,920.340253
2016-01-06,000001.SZ,51570644.0,5.916985e+08,0.4369,1.14,11.473553,0,951.706109,942.626519,954.182361,940.150267
2016-01-07,000001.SZ,17476110.0,1.948695e+08,0.1481,-5.12,11.150622,0,903.006490,941.801102,941.801102,900.530238
2016-01-08,000001.SZ,74752758.0,8.313345e+08,0.6333,1.64,11.121122,0,917.864001,925.292756,931.896094,899.704821
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,688981.SH,97665400.0,5.346218e+09,5.5900,10.25,54.740148,0,57.200000,51.850000,57.320000,51.120000
2021-07-27,688981.SH,308012900.0,1.993186e+10,16.4600,12.59,64.711114,0,64.400000,57.400000,68.640000,57.400000
2021-07-28,688981.SH,172850500.0,1.044512e+10,9.2400,-7.98,60.428625,0,59.260000,62.950000,63.490000,58.280000
2021-07-29,688981.SH,144274400.0,8.933641e+09,7.7100,5.08,61.921177,0,62.270000,60.400000,64.580000,59.370000
2021-07-30,688981.SH,127093400.0,8.219566e+09,6.7900,3.89,64.673427,0,64.690000,61.250000,66.660000,60.900000

## 4. 添加开盘价涨跌标签

label可以尝试使用：
* label = 后一天adj_open - 当天adj_open
* label = 三天后adj_open - 当天adj_open
* label = 三天后平均adj_open - 当天adj_open

---
**方式1**

In [15]:
df = clean_df
df_open2 = df['adj_open'].iloc[1:].values
df_open1 = df['adj_open'].iloc[:-1].values

In [16]:
pre_label = df_open2 - df_open1
pre_label

array([-60.25546048,  12.381259  ,  -0.82541727, ...,   5.55      ,
        -2.55      ,   0.85      ])

In [17]:
pre_label[pre_label >= 0] = 1
pre_label[pre_label < 0] = 0
pre_label

array([0., 1., 0., ..., 1., 0., 1.])

In [18]:
pre_label = list(pre_label)
pre_label.append(0)
df['label'] = pre_label

/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
df

,kdcode,volume,turnover,turn,pct_chg,vwap,trade_status,adj_close,adj_open,adj_high,adj_low,label
dt,,,,,,,,,,,,
2016-01-04,000001.SZ,56349787.0,6.603762e+08,0.4774,-5.51,11.719231,0,935.197763,990.500720,992.976972,926.943591,0.0
2016-01-05,000001.SZ,66326995.0,7.555314e+08,0.5619,0.61,11.391008,0,940.975684,930.245260,955.007778,920.340253,1.0
2016-01-06,000001.SZ,51570644.0,5.916985e+08,0.4369,1.14,11.473553,0,951.706109,942.626519,954.182361,940.150267,0.0
2016-01-07,000001.SZ,17476110.0,1.948695e+08,0.1481,-5.12,11.150622,0,903.006490,941.801102,941.801102,900.530238,0.0
2016-01-08,000001.SZ,74752758.0,8.313345e+08,0.6333,1.64,11.121122,0,917.864001,925.292756,931.896094,899.704821,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,688981.SH,97665400.0,5.346218e+09,5.5900,10.25,54.740148,0,57.200000,51.850000,57.320000,51.120000,1.0
2021-07-27,688981.SH,308012900.0,1.993186e+10,16.4600,12.59,64.711114,0,64.400000,57.400000,68.640000,57.400000,1.0
2021-07-28,688981.SH,172850500.0,1.044512e+10,9.2400,-7.98,60.428625,0,59.260000,62.950000,63.490000,58.280000,0.0
2021-07-29,688981.SH,144274400.0,8.933641e+09,7.7100,5.08,61.921177,0,62.270000,60.400000,64.580000,59.370000,1.0
2021-07-30,688981.SH,127093400.0,8.219566e+09,6.7900,3.89,64.673427,0,64.690000,61.250000,66.660000,60.900000,0.0

In [20]:
df.to_csv('data.csv')