# 数据集处理
## 1. 获取沪深300股票代码

In [1]:
import requests

#爬取沪深300股票代码
def spider_for_hs300():
    page=1
    hs300=[]
    while(page<=6):
        url = 'https://datainterface.eastmoney.com/EM_DataCenter/js.aspx?'
        key_dict = {
            'cb': 'jQuery112305522721612895851_1626420027301',
            'st': '1',
            'sr': '-1',
            'ps': '50',
            'p': page,
            'type': 'SHSZZS',
            'sty': 'SHSZZS',
            'code': '000300'
        }
        data = requests.get(url, params=key_dict)
        res=data.text
        res = res[42:-1]
        List = eval(res)
        for i in range(len(List)):
            List[i] = List[i].split(',')
        
        for i in range(len(List)):
            hs300.append(List[i][0])
        
        page+=1
    return hs300

res = spider_for_hs300()
print(res)
print(len(set(res)))

['688396', '688363', '688169', '688126', '688111', '688036', '688012', '688009', '688008', '603993', '603986', '603939', '603899', '603882', '603833', '603806', '603799', '603659', '603658', '603517', '603501', '603392', '603369', '603338', '603288', '603259', '603233', '603195', '603160', '603087', '603019', '601998', '601995', '601990', '601989', '601988', '601985', '601939', '601933', '601919', '601916', '601901', '601899', '601888', '601881', '601878', '601877', '601872', '601857', '601838', '601818', '601816', '601808', '601800', '601799', '601788', '601766', '601727', '601698', '601696', '601688', '601669', '601668', '601658', '601633', '601628', '601618', '601607', '601601', '601600', '601555', '601398', '601390', '601377', '601360', '601336', '601328', '601319', '601318', '601288', '601238', '601236', '601231', '601229', '601225', '601216', '601211', '601186', '601169', '601166', '601162', '601155', '601138', '601111', '601108', '601100', '601088', '601077', '601066', '601021', '601012', '601009', '601006', '600999', '600989', '600958', '600926', '600919', '600918', '600900', '600893', '600887', '600886', '600872', '600848', '600845', '600837', '600809', '600795', '600763', '600760', '600745', '600741', '600705', '600703', '600690', '600660', '600655', '600606', '600600', '600588', '600585', '600584', '600570', '600547', '600522', '600521', '600519', '600489', '600482', '600438', '600436', '600426', '600406', '600383', '600362', '600352', '600346', '600340', '600332', '600309', '600299', '600276', '600233', '600196', '600183', '600176', '600161', '600150', '600143', '600132', '600118', '600115', '600111', '600109', '600104', '600085', '600079', '600061', '600050', '600048', '600036', '600031', '600030', '600029', '600028', '600025', '600019', '600018', '600016', '600015', '600011', '600010', '600009', '600000', '300677', '300676', '300628', '300601', '300595', '300558', '300529', '300498', '300450', '300433', '300413', '300408', '300347', '300274', '300144', '300142', '300136', '300124', '300122', '300059', '300033', '300015', '300014', '300003', '003816', '002945', '002939', '002938', '002916', '002841', '002821', '002812', '002773', '002739', '002736', '002714', '002673', '002624', '002607', '002602', '002601', '002600', '002594', '002558', '002555', '002508', '002493', '002475', '002463', '002460', '002456', '002415', '002414', '002410', '002384', '002371', '002352', '002311', '002304', '002271', '002252', '002241', '002236', '002230', '002202', '002179', '002157', '002153', '002142', '002129', '002120', '002050', '002049', '002044', '002032', '002027', '002024', '002008', '002007', '002001', '001979', '000977', '000963', '000938', '000895', '000876', '000860', '000858', '000800', '000786', '000783', '000776', '000768', '000728', '000725', '000708', '000703', '000661', '000656', '000651', '000625', '000596', '000568', '000538', '000425', '000338', '000333', '000166', '000157', '000100', '000069', '000066', '000063', '000002', '000001']
300

## 2. 筛出沪深300成分的股票数据

In [2]:
import pandas as pd

#从所有数据中筛选沪深300股票数据
data = pd.read_csv("../data/data.csv")
ans = pd.DataFrame(columns=('kdcode','dt','volume','turnover','adj_open','adj_close','adj_high','adj_low','adj_downprice','adj_upprice','pct_chg'))
for i in range(300):
    da = data.loc[data['kdcode']==res[i]+".SZ"]
    if da.empty:
        da = data.loc[data['kdcode']==res[i]+".SH"]
    ans = pd.concat([da, ans])
    
ans.tail()

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399

In [3]:
# 去重
print(len(ans))
ans.drop_duplicates(subset=['kdcode', 'dt'],keep='first',inplace=True)
print(len(ans))

df = pd.DataFrame(ans, columns=('kdcode','dt','volume','turnover','adj_open','adj_close','adj_high','adj_low','adj_downprice','adj_upprice','pct_chg'))
df

94466
94466

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg
0,000001.SZ,2016-01-04,56349787.0,660376153.0,990.500720,935.197763,992.976972,926.943591,890.625231,1088.725375,-5.5100
1,000001.SZ,2016-01-05,66326995.0,755531354.0,930.245260,940.975684,955.007778,920.340253,841.925612,1028.469915,0.6100
2,000001.SZ,2016-01-06,51570644.0,591698520.0,942.626519,951.706109,954.182361,940.150267,846.878116,1035.073253,1.1400
3,000001.SZ,2016-01-07,17476110.0,194869493.0,941.801102,903.006490,941.801102,900.530238,856.783123,1046.629094,-5.1200
4,000001.SZ,2016-01-08,74752758.0,831334546.0,925.292756,917.864001,931.896094,899.704821,813.036008,992.976972,1.6400
...,...,...,...,...,...,...,...,...,...,...,...
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399

## 3. 分割训练集、测试集

In [4]:
import re

# datalist = df.values.tolist()
datalist = df.values.tolist()
trainSet = []
testSet = []

for data_i in datalist:
    if re.match('2020', data_i[1]) == None:
        trainSet.append(data_i)
    else:
        testSet.append(data_i)
        
print("训练集共 " + str(len(trainSet)) + " 条")
print("测试集共 " + str(len(testSet)) + " 条")

testDf = pd.DataFrame(testSet, columns=df.columns)
trainDf = pd.DataFrame(trainSet, columns=df.columns)

# testData.to_csv("./data/test.csv", index=False)

训练集共 74561 条
测试集共 19905 条

In [5]:
order = ['kdcode','dt','adj_close', 'adj_open']
testDf = testDf[order]
testDf.set_index(['dt'], inplace = True)
testDf.index = pd.to_datetime(testDf.index)

In [6]:
testDf

               kdcode    adj_close     adj_open
dt
2020-01-02  000001.SZ  1766.755448  1743.715366
2020-01-03  000001.SZ  1799.221020  1774.086384
2020-01-06  000001.SZ  1787.700978  1781.417319
2020-01-07  000001.SZ  1796.079190  1793.984637
2020-01-08  000001.SZ  1744.762642  1780.370043
...               ...          ...          ...
2020-12-25  603833.SH   171.287863   176.289910
2020-12-28  603833.SH   180.231351   170.671565
2020-12-29  603833.SH   179.686715   178.726437
2020-12-30  603833.SH   182.653546   180.947977
2020-12-31  603833.SH   192.772300   184.602767

[19905 rows x 3 columns]

## 9.保存到文件

In [8]:
testDf.to_csv("strategyTestData.csv")