# 数据集处理
## 1. 获取沪深300股票代码

In [1]:
import requests

#爬取沪深300股票代码
def spider_for_hs300():
    page=1
    hs300=[]
    while(page<=6):
        url = 'https://datainterface.eastmoney.com/EM_DataCenter/js.aspx?'
        key_dict = {
            'cb': 'jQuery112305522721612895851_1626420027301',
            'st': '1',
            'sr': '-1',
            'ps': '50',
            'p': page,
            'type': 'SHSZZS',
            'sty': 'SHSZZS',
            'code': '000300'
        }
        data = requests.get(url, params=key_dict)
        res=data.text
        res = res[42:-1]
        List = eval(res)
        for i in range(len(List)):
            List[i] = List[i].split(',')
        
        for i in range(len(List)):
            hs300.append(List[i][0])
        
        page+=1
    return hs300

res = spider_for_hs300()
print(res)
print(len(set(res)))

['688396', '688363', '688169', '688126', '688111', '688036', '688012', '688009', '688008', '603993', '603986', '603939', '603899', '603882', '603833', '603806', '603799', '603659', '603658', '603517', '603501', '603392', '603369', '603338', '603288', '603259', '603233', '603195', '603160', '603087', '603019', '601998', '601995', '601990', '601989', '601988', '601985', '601939', '601933', '601919', '601916', '601901', '601899', '601888', '601881', '601878', '601877', '601872', '601857', '601838', '601818', '601816', '601808', '601800', '601799', '601788', '601766', '601727', '601698', '601696', '601688', '601669', '601668', '601658', '601633', '601628', '601618', '601607', '601601', '601600', '601555', '601398', '601390', '601377', '601360', '601336', '601328', '601319', '601318', '601288', '601238', '601236', '601231', '601229', '601225', '601216', '601211', '601186', '601169', '601166', '601162', '601155', '601138', '601111', '601108', '601100', '601088', '601077', '601066', '601021', '601012', '601009', '601006', '600999', '600989', '600958', '600926', '600919', '600918', '600900', '600893', '600887', '600886', '600872', '600848', '600845', '600837', '600809', '600795', '600763', '600760', '600745', '600741', '600705', '600703', '600690', '600660', '600655', '600606', '600600', '600588', '600585', '600584', '600570', '600547', '600522', '600521', '600519', '600489', '600482', '600438', '600436', '600426', '600406', '600383', '600362', '600352', '600346', '600340', '600332', '600309', '600299', '600276', '600233', '600196', '600183', '600176', '600161', '600150', '600143', '600132', '600118', '600115', '600111', '600109', '600104', '600085', '600079', '600061', '600050', '600048', '600036', '600031', '600030', '600029', '600028', '600025', '600019', '600018', '600016', '600015', '600011', '600010', '600009', '600000', '300677', '300676', '300628', '300601', '300595', '300558', '300529', '300498', '300450', '300433', '300413', '300408', '300347', '300274', '300144', '300142', '300136', '300124', '300122', '300059', '300033', '300015', '300014', '300003', '003816', '002945', '002939', '002938', '002916', '002841', '002821', '002812', '002773', '002739', '002736', '002714', '002673', '002624', '002607', '002602', '002601', '002600', '002594', '002558', '002555', '002508', '002493', '002475', '002463', '002460', '002456', '002415', '002414', '002410', '002384', '002371', '002352', '002311', '002304', '002271', '002252', '002241', '002236', '002230', '002202', '002179', '002157', '002153', '002142', '002129', '002120', '002050', '002049', '002044', '002032', '002027', '002024', '002008', '002007', '002001', '001979', '000977', '000963', '000938', '000895', '000876', '000860', '000858', '000800', '000786', '000783', '000776', '000768', '000728', '000725', '000708', '000703', '000661', '000656', '000651', '000625', '000596', '000568', '000538', '000425', '000338', '000333', '000166', '000157', '000100', '000069', '000066', '000063', '000002', '000001']
300

## 2. 筛出沪深300成分的股票数据

In [2]:
import pandas as pd

#从所有数据中筛选沪深300股票数据
data = pd.read_csv("./data/data.csv")
ans = pd.DataFrame(columns=('kdcode','dt','volume','turnover','adj_open','adj_close','adj_high','adj_low','adj_downprice','adj_upprice','pct_chg'))
for i in range(300):
    da = data.loc[data['kdcode']==res[i]+".SZ"]
    if da.empty:
        da = data.loc[data['kdcode']==res[i]+".SH"]
    ans = pd.concat([da, ans])
    
ans.tail()

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399

In [3]:
# 去重
print(len(ans))
ans.drop_duplicates(subset=['kdcode', 'dt'],keep='first',inplace=True)
print(len(ans))

df = pd.DataFrame(ans, columns=('kdcode','dt','volume','turnover','adj_open','adj_close','adj_high','adj_low','adj_downprice','adj_upprice','pct_chg'))
df

94466
94466

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg
0,000001.SZ,2016-01-04,56349787.0,660376153.0,990.500720,935.197763,992.976972,926.943591,890.625231,1088.725375,-5.5100
1,000001.SZ,2016-01-05,66326995.0,755531354.0,930.245260,940.975684,955.007778,920.340253,841.925612,1028.469915,0.6100
2,000001.SZ,2016-01-06,51570644.0,591698520.0,942.626519,951.706109,954.182361,940.150267,846.878116,1035.073253,1.1400
3,000001.SZ,2016-01-07,17476110.0,194869493.0,941.801102,903.006490,941.801102,900.530238,856.783123,1046.629094,-5.1200
4,000001.SZ,2016-01-08,74752758.0,831334546.0,925.292756,917.864001,931.896094,899.704821,813.036008,992.976972,1.6400
...,...,...,...,...,...,...,...,...,...,...,...
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399

## 3 根据股票代码划分数据

In [4]:
stocks_code = df["kdcode"].unique()
stock_num = len(stocks_code)

print(stocks_code)
stock_num

['000001.SZ' '000157.SZ' '000333.SZ' '000568.SZ' '000703.SZ' '000768.SZ'
 '002024.SZ' '002044.SZ' '002049.SZ' '002120.SZ' '002230.SZ' '002271.SZ'
 '002311.SZ' '002371.SZ' '002456.SZ' '002602.SZ' '002607.SZ' '002714.SZ'
 '002773.SZ' '300003.SZ' '300033.SZ' '300124.SZ' '300144.SZ' '300628.SZ'
 '600000.SH' '600009.SH' '600016.SH' '600019.SH' '600025.SH' '600028.SH'
 '600030.SH' '600031.SH' '600036.SH' '600048.SH' '600050.SH' '600061.SH'
 '600104.SH' '600115.SH' '600196.SH' '600276.SH' '600309.SH' '600340.SH'
 '600383.SH' '600489.SH' '600519.SH' '600547.SH' '600570.SH' '600585.SH'
 '600588.SH' '600690.SH' '600703.SH' '600745.SH' '600809.SH' '600837.SH'
 '600848.SH' '600886.SH' '600887.SH' '600926.SH' '600958.SH' '601006.SH'
 '601088.SH' '601166.SH' '601169.SH' '601238.SH' '601318.SH' '601319.SH'
 '601336.SH' '601398.SH' '601555.SH' '601601.SH' '601628.SH' '601788.SH'
 '601838.SH' '601857.SH' '601872.SH' '601899.SH' '601919.SH' '601990.SH'
 '601998.SH' '603233.SH' '603799.SH' '603833.SH']

82

In [5]:
# 根据股票代码划分数据
for i, stock_i in enumerate(stocks_code):
    stock_i_data = df[df['kdcode'].isin([stock_i])]
    exec("df%s = stock_i_data"%i)

print("df0:")
print(df0.head())
print("###########################")
print("df81:")
print(df81.head())

for i in range(stock_num):
    exec("print(df%s.shape)" % i)

df0:
      kdcode          dt      volume     turnover    adj_open   adj_close  \
0  000001.SZ  2016-01-04  56349787.0  660376153.0  990.500720  935.197763
1  000001.SZ  2016-01-05  66326995.0  755531354.0  930.245260  940.975684
2  000001.SZ  2016-01-06  51570644.0  591698520.0  942.626519  951.706109
3  000001.SZ  2016-01-07  17476110.0  194869493.0  941.801102  903.006490
4  000001.SZ  2016-01-08  74752758.0  831334546.0  925.292756  917.864001

     adj_high     adj_low  adj_downprice  adj_upprice  pct_chg
0  992.976972  926.943591     890.625231  1088.725375    -5.51
1  955.007778  920.340253     841.925612  1028.469915     0.61
2  954.182361  940.150267     846.878116  1035.073253     1.14
3  941.801102  900.530238     856.783123  1046.629094    -5.12
4  931.896094  899.704821     813.036008   992.976972     1.64
###########################
df81:
           kdcode          dt    volume    turnover  adj_open  adj_close  \
793312  603833.SH  2017-03-28   13633.0    983212.0     72.12      72.12
793313  603833.SH  2017-03-29    6996.0    554993.0     79.33      79.33
793314  603833.SH  2017-03-30    9696.0    846073.0     87.26      87.26
793315  603833.SH  2017-03-31   60525.0   5809795.0     95.99      95.99
793316  603833.SH  2017-04-05  175453.0  18526082.0    105.59     105.59

        adj_high  adj_low  adj_downprice  adj_upprice  pct_chg
793312     72.12    72.12          32.05        72.12    44.00
793313     79.33    79.33          64.91        79.33     9.99
793314     87.26    87.26          71.40        87.26     9.99
793315     95.99    95.99          78.53        95.99    10.00
793316    105.59   105.59          86.39       105.59    10.00
(1218, 11)
(1218, 11)
(1168, 11)
(1200, 11)
(1155, 11)
(1218, 11)
(1216, 11)
(1120, 11)
(1058, 11)
(1174, 11)
(1170, 11)
(1218, 11)
(1218, 11)
(1208, 11)
(1210, 11)
(1078, 11)
(1120, 11)
(1208, 11)
(1218, 11)
(1194, 11)
(1217, 11)
(1207, 11)
(1216, 11)
(926, 11)
(1200, 11)
(1218, 11)
(1218, 11)
(1126, 11)
(741, 11)
(1218, 11)
(1207, 11)
(1218, 11)
(1218, 11)
(1211, 11)
(1123, 11)
(1207, 11)
(1218, 11)
(1217, 11)
(1217, 11)
(1217, 11)
(1093, 11)
(1215, 11)
(1217, 11)
(1201, 11)
(1218, 11)
(1188, 11)
(1216, 11)
(1218, 11)
(1216, 11)
(1196, 11)
(1217, 11)
(959, 11)
(1206, 11)
(1218, 11)
(1057, 11)
(1218, 11)
(1194, 11)
(1021, 11)
(1212, 11)
(1218, 11)
(1154, 11)
(1213, 11)
(1210, 11)
(1208, 11)
(1218, 11)
(518, 11)
(1218, 11)
(1218, 11)
(1210, 11)
(1218, 11)
(1218, 11)
(1218, 11)
(709, 11)
(1218, 11)
(1118, 11)
(1212, 11)
(1168, 11)
(623, 11)
(1218, 11)
(835, 11)
(1206, 11)
(913, 11)

## 4. 添加1日、5日、10日、20日均价特征
* 均价计算方式：
$$
day日均价 = \frac{\sum_{i = 1}^{day}当天成交金额(turnover)}{\sum_{i = 1}^{day}当天成交量(volume)}
$$

In [6]:
sizes = [1, 5, 10, 20]

for t, size in enumerate(sizes):
    exec("meanList%s = []" % t)
    for i in range(stock_num): # 循环股票
        exec("stock = df%s" % i)
        turnover = stock['turnover'].values # 成交价
        volume = stock['volume'].values     # 成交量
        for index in range(stock.shape[0]):
            if index < size - 1:
                mean_res = turnover[:index + 1].sum() / volume[:index + 1].sum()
            else:
                mean_res = turnover[index - size + 1:index + 1].sum() / volume[index - size + 1:index + 1].sum()
            exec("meanList%s.append(%s)" % (t, mean_res))

df['price_mean1'] = meanList0            
df['price_mean5'] = meanList1
df['price_mean10'] = meanList2
df['price_mean20'] = meanList3

In [7]:
print(df.shape)
# trainDf.head()
df.tail()

(94466, 15)

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg,price_mean1,price_mean5,price_mean10,price_mean20
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204,119.286676,125.543689,126.369491,127.240663
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213,124.528403,124.912247,126.126255,126.949783
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022,126.247136,124.093968,125.928657,126.784866
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511,127.548727,123.517505,125.910530,126.685520
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399,132.648606,124.933590,126.386649,126.913803

## 5. 添加3日、5日、10日平均涨跌幅
* 平均涨跌幅计算方式：
$$
n天平均涨跌幅 = \frac{\sum_{i = 1}^n{涨跌幅}}{n}
$$

In [8]:
sizes = [3, 5, 10]

for t, size in enumerate(sizes):
    exec("meanList%s = []" % t)
    for i in range(stock_num): # 循环股票
        exec("stock = df%s" % i)
        pct = stock['pct_chg'].values # 涨跌幅
        for index in range(stock.shape[0]):
            if index < size - 1:
                mean_res = pct[:index + 1].sum() / (index + 1)
            else:
                mean_res = pct[index - size + 1:index + 1].sum() / size
            exec("meanList%s.append(%s)" % (t, mean_res))

df['pct_mean3'] = meanList0
df['pct_mean5'] = meanList1
df['pct_mean10'] = meanList2

In [9]:
print(df.shape)
# trainDf.head()
df.tail()

(94466, 18)

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg,price_mean1,price_mean5,price_mean10,price_mean20,pct_mean3,pct_mean5,pct_mean10
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204,119.286676,125.543689,126.369491,127.240663,-2.713000,-1.38882,-0.39421
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213,124.528403,124.912247,126.126255,126.949783,-0.322833,-0.61430,-0.14109
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022,126.247136,124.093968,125.928657,126.784866,0.799567,-0.64398,-0.14472
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511,127.548727,123.517505,125.910530,126.685520,2.190067,0.07608,0.02353
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399,132.648606,124.933590,126.386649,126.913803,2.296267,1.91794,0.46850

## 6. 添加5日、10日、20日平均收盘价

* 平均收盘价计算方式：
$$
n天平均收盘价 = \frac{\sum_{i = 1}^n{收盘价}}{n}
$$

In [10]:
sizes = [5, 10, 20]

for t, size in enumerate(sizes):
    exec("meanList%s = []" % t)
    for i in range(stock_num): # 循环股票
        exec("stock = df%s" % i)
        close_mean = stock['adj_close'].values # 收盘价
        for index in range(stock.shape[0]):
            if index < size - 1:
                mean_res = close_mean[:index + 1].sum() / (index + 1)
            else:
                mean_res = close_mean[index - size + 1:index + 1].sum() / size
            exec("meanList%s.append(%s)" % (t, mean_res))

df['close_mean5'] = meanList0
df['close_mean10'] = meanList1
df['close_mean20'] = meanList2

In [11]:
print(df.shape)
# trainDf.head()
df.tail()

(94466, 21)

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,...,price_mean1,price_mean5,price_mean10,price_mean20,pct_mean3,pct_mean5,pct_mean10,close_mean5,close_mean10,close_mean20
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,...,119.286676,125.543689,126.369491,127.240663,-2.713000,-1.38882,-0.39421,180.354611,181.916855,183.422485
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,...,124.528403,124.912247,126.126255,126.949783,-0.322833,-0.61430,-0.14109,179.136347,181.611572,183.291343
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,...,126.247136,124.093968,125.928657,126.784866,0.799567,-0.64398,-0.14472,177.866486,181.300556,182.925147
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,...,127.548727,123.517505,125.910530,126.685520,2.190067,0.07608,0.02353,177.915217,181.291957,182.707293
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,...,132.648606,124.933590,126.386649,126.913803,2.296267,1.91794,0.46850,181.326355,182.096011,183.026908

## 7.添加涨跌标签`label`

In [12]:
LabelList = []

for i in range(stock_num): # 循环股票
    exec("stock = df%s" % i)
    close = stock['adj_close'].values # 收盘价
    for index in range(stock.shape[0]):
        if index == 0:
            label = 0
        else:
            if close[index] - close[index - 1] <= 0:
                label = 0
            else:
                label = 1
        LabelList.append(label)
        
df['label'] = LabelList

In [13]:
print(df.shape)
# trainDf.head()
df.tail()

(94466, 22)

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,...,price_mean5,price_mean10,price_mean20,pct_mean3,pct_mean5,pct_mean10,close_mean5,close_mean10,close_mean20,label
794220,603833.SH,2020-12-25,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,...,125.543689,126.369491,127.240663,-2.713000,-1.38882,-0.39421,180.354611,181.916855,183.422485,0
794221,603833.SH,2020-12-28,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,...,124.912247,126.126255,126.949783,-0.322833,-0.61430,-0.14109,179.136347,181.611572,183.291343,1
794222,603833.SH,2020-12-29,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,...,124.093968,125.928657,126.784866,0.799567,-0.64398,-0.14472,177.866486,181.300556,182.925147,0
794223,603833.SH,2020-12-30,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,...,123.517505,125.910530,126.685520,2.190067,0.07608,0.02353,177.915217,181.291957,182.707293,1
794224,603833.SH,2020-12-31,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,...,124.933590,126.386649,126.913803,2.296267,1.91794,0.46850,181.326355,182.096011,183.026908,1

In [14]:
# df['pct_mean5'].iloc[:10]

## 8. 数据归一化

In [15]:
df.reset_index(inplace = True, drop = True)
Data_df1 = df.iloc[:, :2]
Data_df2 = df.iloc[:, 2:]

print(Data_df1.shape)
print(Data_df2.shape)

# testData_df1.tail()
Data_df2.tail()

(94466, 2)
(94466, 20)

,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,pct_chg,price_mean1,price_mean5,price_mean10,price_mean20,pct_mean3,pct_mean5,pct_mean10,close_mean5,close_mean10,close_mean20,label
94461,3067151.0,365870249.0,176.289910,171.287863,177.278853,168.607683,158.144948,193.288270,-2.5204,119.286676,125.543689,126.369491,127.240663,-2.713000,-1.38882,-0.39421,180.354611,181.916855,183.422485,0
94462,2964080.0,369112149.0,170.671565,180.231351,181.994250,170.556905,154.160510,188.415216,5.2213,124.528403,124.912247,126.126255,126.949783,-0.322833,-0.61430,-0.14109,179.136347,181.611572,183.291343,1
94463,1376880.0,173827156.0,178.726437,179.686715,182.725208,178.181802,162.215382,198.261652,-0.3022,126.247136,124.093968,125.928657,126.784866,0.799567,-0.64398,-0.14472,177.866486,181.300556,182.925147,0
94464,1169645.0,149186731.0,180.947977,182.653546,184.717428,179.686715,161.713744,197.659687,1.6511,127.548727,123.517505,125.910530,126.685520,2.190067,0.07608,0.02353,177.915217,181.291957,182.707293,1
94465,1769739.0,234753412.0,184.602767,192.772300,193.761243,182.768206,164.393924,200.913167,5.5399,132.648606,124.933590,126.386649,126.913803,2.296267,1.91794,0.46850,181.326355,182.096011,183.026908,1

In [16]:
from sklearn import preprocessing
# min_max_scaler = preprocessing.StandardScaler()
min_max_scaler = preprocessing.MinMaxScaler()
# 归一化训练集
ProcessedData = min_max_scaler.fit_transform(Data_df2)
ProcessedDataDf2 = pd.DataFrame(ProcessedData, columns=Data_df2.columns)
print(ProcessedDataDf2.shape)

Data_df = pd.concat([Data_df1,ProcessedDataDf2],axis=1)
print(Data_df.shape)
Data_df.tail()

(94466, 20)
(94466, 22)

,kdcode,dt,volume,turnover,adj_open,adj_close,adj_high,adj_low,adj_downprice,adj_upprice,...,price_mean5,price_mean10,price_mean20,pct_mean3,pct_mean5,pct_mean10,close_mean5,close_mean10,close_mean20,label
94461,603833.SH,2020-12-25,0.002462,0.014685,0.011779,0.011112,0.011497,0.011274,0.011944,0.011944,...,0.064843,0.066131,0.067501,0.135279,0.159590,0.177981,0.012305,0.012580,0.012826,0.0
94462,603833.SH,2020-12-28,0.002379,0.014815,0.011398,0.011700,0.011807,0.011406,0.011644,0.011643,...,0.064511,0.066001,0.067343,0.179464,0.173911,0.182661,0.012221,0.012559,0.012816,1.0
94463,603833.SH,2020-12-29,0.001105,0.006974,0.011944,0.011664,0.011855,0.011922,0.012252,0.012252,...,0.064080,0.065896,0.067254,0.200213,0.173363,0.182594,0.012133,0.012537,0.012790,0.0
94464,603833.SH,2020-12-30,0.000938,0.005985,0.012094,0.011859,0.011986,0.012024,0.012214,0.012215,...,0.063776,0.065886,0.067200,0.225919,0.186676,0.185705,0.012136,0.012536,0.012775,1.0
94465,603833.SH,2020-12-31,0.001420,0.009420,0.012342,0.012525,0.012581,0.012233,0.012416,0.012416,...,0.064522,0.066140,0.067324,0.227882,0.220732,0.193932,0.012372,0.012593,0.012797,1.0

## 8. 分割训练集、测试集

In [17]:
import re

# datalist = df.values.tolist()
datalist = Data_df.values.tolist()
trainSet = []
testSet = []

for data_i in datalist:
    if re.match('2020', data_i[1]) == None:
        trainSet.append(data_i)
    else:
        testSet.append(data_i)
        
print("训练集共 " + str(len(trainSet)) + " 条")
print("测试集共 " + str(len(testSet)) + " 条")

testDf = pd.DataFrame(testSet, columns=df.columns)
trainDf = pd.DataFrame(trainSet, columns=df.columns)

# testData.to_csv("./data/test.csv", index=False)

训练集共 74561 条
测试集共 19905 条

## 9.保存到文件

In [18]:
# 把收盘价放到最后以便于后续操作
order = ['kdcode', 'dt', 'price_mean1', 'price_mean5', 'price_mean10', 'price_mean20', 'pct_mean3', 'pct_mean5', 'pct_mean10',
         'close_mean5', 'close_mean10', 'close_mean20', 'adj_close', 'adj_open', 'label']
trainData_df = trainDf[order]
testData_df = testDf[order]

# trainData_df.tail()
testData_df.tail()

,kdcode,dt,price_mean1,price_mean5,price_mean10,price_mean20,pct_mean3,pct_mean5,pct_mean10,close_mean5,close_mean10,close_mean20,adj_close,adj_open,label
19900,603833.SH,2020-12-25,0.059244,0.064843,0.066131,0.067501,0.135279,0.159590,0.177981,0.012305,0.012580,0.012826,0.011112,0.011779,0.0
19901,603833.SH,2020-12-28,0.061899,0.064511,0.066001,0.067343,0.179464,0.173911,0.182661,0.012221,0.012559,0.012816,0.011700,0.011398,1.0
19902,603833.SH,2020-12-29,0.062769,0.064080,0.065896,0.067254,0.200213,0.173363,0.182594,0.012133,0.012537,0.012790,0.011664,0.011944,0.0
19903,603833.SH,2020-12-30,0.063429,0.063776,0.065886,0.067200,0.225919,0.186676,0.185705,0.012136,0.012536,0.012775,0.011859,0.012094,1.0
19904,603833.SH,2020-12-31,0.066011,0.064522,0.066140,0.067324,0.227882,0.220732,0.193932,0.012372,0.012593,0.012797,0.012525,0.012342,1.0

In [19]:
# 保存训练集、测试集数据
trainData_df.to_csv("./data/train.csv", index=False)
testData_df.to_csv("./data/test.csv", index=False)

**未使用到代码备份：**添加停牌数据代码
```python
import pandas as pd
from datetime import datetime
from datetime import timedelta


# 判断闰年
def isRunYear(year):
    if year % 100 == 0:
        if year % 400 == 0:
            return 1
    else:
        if year % 4 == 0:
            return 1
    return 0


# 判断是一年中的第几天
def dayNum(year, month, day):
    ret = 0
    ping = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    run = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if isRunYear(year):
        for i in range(month - 1):
            ret = ret + run[i]
    else:
        for i in range(month - 1):
            ret = ret + ping[i]
    return ret + day


# 判断是否是周末
def isSunOrSat(year, month, day):
    S = (year + (year - 1) // 4 - (year - 1) // 100 + (year - 1) // 400) % 7  # 第year年第一天是周S
    weekday = (dayNum(year, month, day) + S - 1) % 7
    if weekday == 0 or weekday == 6:
        return 1
    else:
        return 0


# trainSet = pd.read_csv("train.csv").values.tolist()
datetime_tmp = pd.to_datetime('2022-01-01')
date_tmp = datetime.date(datetime_tmp)
data_tmp = []
trainData = []

for data_i in trainSet:
    now_date = datetime.date(pd.to_datetime(data_i[1]))
    if now_date < date_tmp:
        trainData.append(data_i)
        date_tmp = now_date
        data_tmp = data_i.copy()
    else:
        daydelta = now_date - date_tmp
        if daydelta.days != 1:
            for i in range(1, daydelta.days):
                add_day = date_tmp + timedelta(days=i)
                if isSunOrSat(add_day.year, add_day.month, add_day.day) != 1:
                    add_data = data_tmp.copy()
                    add_data[1] = str(add_day)
                    trainData.append(add_data)
        date_tmp = now_date
        data_tmp = data_i.copy()
        trainData.append(data_i)

print("填充后训练集数据共 " + str(len(trainData)) + " 条")
trainData = pd.DataFrame(trainData, columns=('kdcode', 'dt', 'volume', 'turnover', 'adj_open', 'adj_close', 'adj_high', 'adj_low', 'adj_downprice', 'adj_upprice','pct_chg'))
# trainData.to_csv("./data/train.csv", index=False)
```